#favorite-buttons {
    border: none;
    color: rgb(255, 255, 255);
    background-color: transparent;
    cursor: pointer;
    margin: auto 5px;
    color: red;
}

#favorite-buttons:hover  > #full-heart{ 
    color: rgba(0, 0, 0, 0.322)
}

#heart{ 
    color: black;
}

#favorite-buttons:hover  > #heart{ 
    color: rgb(255, 0, 0)
}
